audio {
	display: none;

}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.main-horizontal {
	width: 100%;
	height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.main-vertical {
	height: 100%;	
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@keyframes anim-main-image-rotate {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

@keyframes anim-main-image-get-big {
	from {transform: scale(0);}
	to {transform: scale(1);}	
}

.main-image-container {
  animation: anim-main-image-get-big 16s ease-in 0s;
}

.main-image {
  height: 100%;
  animation: anim-main-image-rotate 10s linear 16s infinite;
}

@keyframes anim-tony-image {
  from {transform: rotate(0deg);}
  to {transform: rotate(180deg);}
}


@keyframes anim-text-image {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.text-container, .text-inner-container {
  width: 900px;
    height: 50px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
  transform: scale(0);
  animation: anim-main-image-get-big 2.5s linear 32s forwards;
}

.text-image {
width: 900px;
height: 70px;
  background: url(img/text.gif);
  background-size: contain;
  background-repeat: no-repeat;
  animation: anim-text-image 0.5s linear 32s 5;
}

.tony {
  width: 75px;
  height: 75px;
}

.floating {
 width: 100px;
  height: 100px; 
}

.floating-container.floating-left {
  top: 35%;
  left: -15%;
  animation: anim-floating-ltr 5s linear 24s;
}

.floating-container.floating-right {
  right: -15%;
  top:55%;
  animation: anim-floating-ltr 5s linear 24s reverse;
}


@keyframes anim-floating-ltr {
  from { left: -15%;}
  to { left: 115%;}
}

.floating-1 {
  background-image: url("img/floating-alli.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.floating-2 {
 background-image: url("img/floating-tony.png"); 
  background-size: contain;
  background-repeat: no-repeat;
}

.tony-container, .tony-inner-container, 
.floating-container, .floating-inner-container {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
}

.tony-inner-container {
  animation: anim-main-image-get-big 3s linear 0s;
}

.tony-top {
  top: 15%;
}

.tony-bottom {
  bottom: 15%;
}

.tony-left {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  left: 15%;
}

.tony-right {
  right: 15%;
}

.tony-image {
  background-image: url("img/tony.png");
  background-size: contain;
  animation: anim-tony-image 1s steps(2) 0s infinite;
}


#viewport {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}


#confetti{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

@keyframes anim-background {
    from {background-color: red;}
    to {background-color: yellow;}
}

html {
  animation-name: anim-background;
  animation-duration: 1s;
  animation-iteration-count: infinite;
    animation-direction: alternate;
}